@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box; /* when we add any border or padding to an element it won't affect it's width */
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img {
  width: 67.5%;
  height: 80%;
}

.main-img img {
  width: 100%;
  min-height: 80vh;
  border-radius: 20px;
  transform: translateX(5%) translateY(-10px);
  object-fit: cover;
}

.images {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}

.images img {
  height: 10%;
  width: auto;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
